name: Build my application

on: push

jobs:
  build:
    name: Build our app

    runs-on: ubuntu-latest
    steps:
      - name: Pull Code
        uses: actions/checkout@v2
      - name: Print Current Directory
        run: pwd
      - name: List Current files in directory
        run: ls
      - name: Check dotnet cli
        run: dotnet
